

.btn-search{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg{
        width: 15px;
    }
}

.btn-hotline{
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        padding: 0 .5em;
        font-size: .85em;
    }
    svg{
        width: 15px;
    }
}

.btn-contact{
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        padding: 0 .5em;
        font-size: .85em;
    }
    svg{
        width: 15px;
    }
}

.btn {
    border-radius: 50px;
    background-color: #0D897F;
    cursor: pointer;
    transition: .6s ease-out;
    margin-top: 1em;
    &:not(:first-of-type){
        margin-left: 1.5em;
    }

    &:hover{
        background-color: rgb(15, 201, 185);
    }    
}

.btn-explore-slide{
    background-color: #f3f3f3;
    width: 160px;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    a{
        text-decoration: none;
        color: #0D897F;
        margin-right: 20px;
    }
    svg{
        position: relative;
        fill: #0D897F !important;
        left: 0;
        transition: .3s ease;
    }

    &:hover{
        svg{
            left: 5px;
        }
    }

    &::after{
        content: '';
        border-left: 45px;
        height: auto;
        border: 5px solid #0D897F;
        position: absolute;
        right: 0px;
        height: 45px;
    }
}


.btn-explore{
    background-color: #ffffff;
    width: 180px;
    height: 45px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        color: #0D897F;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);    
        a{
            text-decoration: none;
            color: #0D897F;
            margin-right: 20px;
        }     
    }

}

.btn-explore-who{
    background-color: #0D897F;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    
    a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 20px;
    }
    svg{
        position: relative;
        fill: #ffffff !important;
        left: 0;
        transition: .3s ease;
    }

    &:hover{
        svg{
            left: 5px;
        }
    }

    &::after{
        content: '';
        border-left: 45px;
        height: auto;
        border: 5px solid lightgray;
        position: absolute;
        right: 0px;
        height: 45px;
    }

    &::after{
        content: '';
        border-left: 45px;
        height: auto;
        border: 5px solid lightgray;
        position: absolute;
        right: 0px;
        height: 45px;
    }
}

.btn-explore-search{
    background-color: #0D897F;
    width: 180px;
    height: 45px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;

    a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 20px;
    }
    svg{
        position: relative;
        fill: #ffffff !important;
        left: 0;
        transition: .3s ease;
    }

    &:hover{
        svg{
            left: 5px;
        }
    }
}

.btn-explore-search{
    position: relative;
    top: 0;
    background-color: #0D897F;
    width: 180px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;

    a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 20px;
    }
    svg{
        position: relative;
        fill: #ffffff !important;
        left: 0;
        transition: .3s ease;
    }

    &:hover{
        svg{
            left: 5px;
        }
    }
    
    &::after{
        content: '';
        border-left: 45px;
        height: auto;
        border: 5px solid lightgray;
        position: absolute;
        right: 0px;
        height: 45px;
    }
}
.btn-explore-prop{
    position: relative;
    top: 0;
    background-color: #0D897F;
    width: 180px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;

    a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 20px;
    }
    svg{
        position: relative;
        fill: #ffffff !important;
        left: 0;
        transition: .3s ease;
    }

    &:hover{
        svg{
            left: 5px;
        }
    }
    
    &::after{
        content: '';
        border-left: 45px;
        height: auto;
        border: 5px solid lightgray;
        position: absolute;
        right: 0px;
        height: 45px;
    }
}


.btn-subscribe{
    position: relative;
    top: 0;
    background-color: #0D897F;
    width: 180px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;

    a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 20px;
    }
    svg{
        position: relative;
        fill: #ffffff !important;
        left: 0;
        transition: .3s ease;
    }

    &:hover{
        svg{
            left: 5px;
        }
    }

    &::after{
        content: '';
        border-left: 45px;
        height: auto;
        border: 5px solid lightgray;
        position: absolute;
        right: 0px;
        height: 45px;
    }
}

